*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins", Arial, sans-serif;
}


body{

    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(135deg,#0f2027,#203a43,#2c5364);

}


/* Calculator Box */

.calculator{

    width:370px;
    padding:25px;

    background:rgba(255,255,255,0.12);

    backdrop-filter:blur(15px);

    border-radius:25px;

    box-shadow:
    0 20px 40px rgba(0,0,0,0.5),
    inset 0 0 20px rgba(255,255,255,0.1);

    border:1px solid rgba(255,255,255,0.2);

}


/* Display */

#display{

    width:100%;
    height:80px;

    margin-bottom:25px;

    padding:15px;

    border:none;

    outline:none;

    border-radius:15px;

    background:#111;

    color:#00ffcc;

    font-size:35px;

    text-align:right;

    box-shadow:
    inset 0 0 15px rgba(0,255,204,0.4);

}



/* Buttons Area */

.buttons{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:15px;

}



/* Buttons */

button{

    height:65px;

    border:none;

    border-radius:18px;

    font-size:22px;

    font-weight:bold;

    cursor:pointer;

    color:white;

    background:rgba(255,255,255,0.15);

    backdrop-filter:blur(10px);

    transition:0.3s;

    box-shadow:
    0 8px 15px rgba(0,0,0,0.3);

}



/* Hover Effect */

button:hover{

    transform:translateY(-5px);

    background:rgba(255,255,255,0.3);

}



/* Click Effect */

button:active{

    transform:scale(0.9);

}



/* Operators */

.operator{

    background:
    linear-gradient(135deg,#ff9800,#ff5722);

}


.operator:hover{

    box-shadow:
    0 0 20px #ff9800;

}



/* Clear Button */

.clear{

    background:
    linear-gradient(135deg,#ff416c,#ff4b2b);

}


.clear:hover{

    box-shadow:
    0 0 20px #ff416c;

}



/* Equal Button */

.equal{

    background:
    linear-gradient(135deg,#00c853,#00e676);

}


.equal:hover{

    box-shadow:
    0 0 20px #00ff88;

}



/* Responsive */

@media(max-width:450px){

    .calculator{

        width:90%;

    }


    button{

        height:55px;

    }


    #display{

        font-size:28px;

    }

}
